.layout-text{
  text-align: center;
}

.red{
  color: red;
}

.blue{
  color: #3F51B5;
}

.filter_field{
  width: 100%;
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}
