.layout-text{
  ::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }
  text-align: center;
  .red{
    color: #f44336;
  }
  .blue{
    color: #3F51B5;
  }
}

.filter-field{
  width: 100%;
}

