.layout-text{
  th.mat-header-cell, tr.mat-cell {
    text-align: start;
    justify-content:flex-start;
  }
  .mat-column-type{
    min-width: 100px;
    width: 250px;
  }
  .mat-column-date{
    min-width: 100px;
    width: 350px;
  }
  .mat-column-category{
    min-width: 100px;
    width: 250px;
  }
  .mat-column-type{
    min-width: 100px;
    width: 250px;
  }
  .mat-column-action{
    width: 150px;
  }
  .red{
    color: #f44336;
  }
  .blue{
    color: #3F51B5;
  }
}
.filter-field{
  width: 100%;
}



