.container {
  height: 100vh;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-list{
  display: flex;
  li{
    margin: 0 20px;
  }
}
.drawer {
  min-width:300px;
  background: #EAF1FF;
}
@media screen and (min-width: 480px) and (max-width: 720px){
  .slogan{
    display: none;
  }
  .toolbar-list{
    display: flex;
    li{
      margin: 0 10px;
    }
  }
}
@media screen and (max-width: 480px){
  .slogan{
    display: none;
  }
  .toolbar-list{
    display: flex;
    li{
      margin: 0 10px;
    }
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0;
  }
}

