<mat-card >
  <mat-card-subtitle>Счет</mat-card-subtitle>
  <mat-card-content *ngFor="let item of dataSource" >
    <span fxLayout="row" class="value-space" *ngIf="item.currency === 'EUR'">
      <mat-icon>euro</mat-icon>
      <span >
        {{item.rate * currentBalance}}
      </span>
    </span>
    <span fxLayout="row" class="value-space" *ngIf="item.currency === 'USD'">
      <mat-icon>attach_money</mat-icon>
      <span >
        {{item.rate * currentBalance}}
      </span>
    </span>
    <span fxLayout="row" class="value-space" *ngIf="item.currency === 'UAH'">
      <mat-icon svgIcon="uah"></mat-icon>
      <span >
        {{item.rate * currentBalance}}
      </span>
    </span>
  </mat-card-content>
</mat-card>
