.layout{
  margin: 0 20px;
}
.title{
  border-bottom: solid 1px rgba(0,0,0,.12);
  padding: 10px 0 0 0;
}
.card-action{
  margin-top: 10px;
  mat-paginator{
    background-color: transparent;
  }
}

button{
  max-height: 40px;
}
