<div *ngIf="events$ | async as event; else loading" fxLayout="column" fxLayoutAlign="center" class="layout">
  <div class="title" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button><mat-icon>keyboard_backspace</mat-icon></button>
    <h1>Страница записи №</h1>
  </div>
  <mat-card class="event-card">
    <!--[ngClass]="event.type==='Доход' ? 'blue' : 'red'"-->
    <mat-card-title fxLayoutAlign="center">asdasd</mat-card-title>
    <mat-card-content>
      <li></li>
      <li></li>
      <li></li>
    </mat-card-content>
    <mat-card-footer>
      <div>Date</div>
    </mat-card-footer>
  </mat-card>
</div>
<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center">Loading...</div>
</ng-template>

