<h1 mat-dialog-title>Добавить событие</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (submit)="add()">
    <mat-form-field appearance="fill" class="cat-field">
      <mat-label>Выберите категорию</mat-label>
      <mat-select formControlName="category">
        <mat-option value="one">Дом</mat-option>
        <mat-option value="two">Еда</mat-option>
        <mat-option value="two">Машина</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <span class="type-field-label">Выберите тип: </span><br>
      <mat-radio-group formControlName="type">
        <mat-radio-button value="income">Доход</mat-radio-button>
        <mat-radio-button value="outcome">Расход</mat-radio-button>
      </mat-radio-group>
    </div>
    <br>
    <mat-form-field fxLayoutAlign="center">
      <mat-error *ngIf="form.get('amount')?.hasError('required')">Введите сумму</mat-error>
      <mat-label>Введите сумму</mat-label>
      <input matInput type="number" placeholder="amount" formControlName="amount">
    </mat-form-field>
    <mat-form-field fxLayoutAlign="center">
      <mat-error *ngIf="form.get('description')?.hasError('required')">Введите описание</mat-error>
      <mat-label>Введите описание</mat-label>
      <input matInput type="text" placeholder="description" formControlName="description">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Добавить</button>
      <button mat-button (click)="closeDialog()">Закрыть</button>
    </div>
  </form>
</div>
