<h1 mat-dialog-title>Добавить событие</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (submit)="add()">
    <mat-form-field appearance="fill" class="cat-field" >
      <mat-label>Выберите категорию</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of data" value="{{cat.id}}">{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <span class="type-field-label">Выберите тип: </span><br>
      <mat-radio-group formControlName="type">
        <mat-radio-button value="income">Доход</mat-radio-button>
        <mat-radio-button value="outcome">Расход</mat-radio-button>
      </mat-radio-group>
    </div>
    <br>
    <mat-form-field fxLayoutAlign="center">
      <mat-error *ngIf="form.get('amount')?.hasError('required')">Введите сумму</mat-error>
      <mat-error *ngIf="form.get('amount')?.hasError('pattern')">Необходимо указать данные в виде цифр</mat-error>
      <mat-label>Введите сумму</mat-label>
      <input matInput type="text" placeholder="сумма" formControlName="amount">
    </mat-form-field>
    <mat-form-field fxLayoutAlign="center">
      <mat-error *ngIf="form.get('description')?.hasError('required')">Введите описание</mat-error>
      <mat-label>Введите описание</mat-label>
      <input matInput type="text" placeholder="описание" formControlName="description">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="flex-end">
      <div class="space"><button mat-button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Добавить</button></div>
      <div><button mat-button type="button" (click)="closeDialog()">Закрыть</button></div>
    </div>
  </form>
</div>
